#whatsapp
    padding-top: 80px
    .chat
        border: 9px solid #e8edff
        background-color: #e8edff
        width: 460px
        height: 340px
        border-radius: 20px
        h3
            display: inline-block
            background: #7991e7
            color: #ffff
            border-radius: 40px
            margin: 10px
            padding: 7px 13px

        .message
            overflow: auto
            border: solid 1px #ffff
            height: 250px
            width: 420px
            background: #ffff
            border-radius: 20px
            margin: 10px
            .end
                text-align: end
            &::-webkit-scrollbar
                display: none
        input
            border-radius: 15px
            margin: 18px 0 0 100px
            padding: 6px 15px

        .sent
            display: inline-block
            h2
                flex-direction: row
                border: 1px solid #94a6e6
                background: #94a6e6
                color: #ffff
                display: flex
                justify-content: center
                border-radius: 15px
                padding: 6px
                width: 60px
                margin: 0 10px

    @media screen and ( max-width: 381px  )
        .chat
            border: 11px solid #e8edff
            background-color: #e8edff
            width: 340px
            height: 290px
            border-radius: 18px
            margin-bottom: 30px
            #messageyou

            .message
                overflow: auto
                border: solid 1px #ffff
                height: 200px
                width: 300px
                background: #ffff
                border-radius: 20px
                margin: 10px
            .sent
                h2
                    position: relative
                    left: 235px
                    bottom: 32px
                    flex-direction: row
                    border: 1px solid #94a6e6
                    background: #94a6e6
                    color: #ffff
                    border-radius: 15px
                    width: 63px
                    margin: 0 10px
            input
                border-radius: 15px
                margin: 18px 0 0 55px
                padding: 6px 15px
